<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ninemenmorris">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NineMenMorris">
        <activity
            android:name=".MusicService"
            android:exported="true" />
        <activity android:name=".RestartScreen" />
        <activity
            android:name=".SettingScreen"
            android:theme="@style/Theme.NineMenMorris.CustomTheme"
            android:exported="true" />
        <activity
            android:name=".HelpScreen"
            android:theme="@style/Theme.NineMenMorris.CustomTheme"
            android:exported="true" />
        <activity
            android:name=".CreditsScreen"
            android:theme="@style/Theme.NineMenMorris.CustomTheme"
            android:exported="true" />
        <activity android:name=".PvpGameScreen" />
        <activity android:name=".PvcGameScreen" />
        <activity android:name=".StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ModeSelectionScreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <service android:name=".MusicService"/>
    </application>

</manifest>